<%= form_with(model: @event, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :going %>

    <%= f.text_field :going, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :interested %>

    <%= f.text_field :interested, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :not_interested %>

    <%= f.text_field :not_interested, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment_id %>

    <%= f.text_field :comment_id, class: "form-control" %>
  </div>

  <%= f.submit "Create event", class: "btn btn-block btn-outline-secondary" %>
<% end %>
